@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --light: #e8e4e3;
  --dark: #373230;
  --primary: #E63418;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background: #fff;
    overflow-x:hidden;
  
  
}

a{
  text-decoration: none;
  color: #333;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}

/* Navbar */
.navbar{
  background-color: #fff;
  padding: 20px;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar .main-menu ul{
  display: flex;
}

.navbar .main-menu ul li a{
  color: #fff;
  padding: 10px 20px;
  margin-left: 0.9px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar .main-menu ul li a:hover{
  background-color: var(--primary);
  
  
}

.navbar ul li:last-child a{
  margin-left: 10px;
}

.navbar ul li a i{
  margin-right: 10px;
}



/* Second Menu */

.second-menu {
  background-color: var(--dark);
  padding: 0;
  border-bottom: #fff 7px solid;
}

.second-menu .container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.second-menu .container ul{
  display: flex;
}

.second-menu .container ul li a{
  color: #fff;
  padding: 15px 55px;
  margin-left: 0.9px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}



.second-menu .container ul li .btn:hover{
  background-color: var(--primary);
}

.second-menu .container ul li .btn:focus{
  background-color: var(--primary);
}

.second-menu .container ul li .btn:active{
  background-color: var(--primary);
}

.second-menu .container .active{
  background-color: var(--primary);
}

/* Modal Colaboradores */

.btn-hover-secondary:hover {
  background-color: var(--primary) !important;
  border-color: var(--light) !important;
}


/* Hero Section */

.hero{
  margin-top: 0px;
}

.hero .container{
  background: url(img/mujeres-nutricion-hero.jpg) no-repeat;
  background-size: contain;
  height: 500px;
  background-position: top center;
  
}

.hero .hero-content{
    width: 70%;
    padding-left: 50px;
    padding-top: 100px;
    
  }

.hero .hero-title{
  color:#fff;
  text-shadow: var(--dark) 0px 0px 10px;
  margin-bottom: 20px;
}

.hero .hero-text{
  width: 70%;
  color: #fff;
  font-size: 2rem;
  text-shadow: var(--dark) 0px 0px 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.hero .hero-buttons .btn:hover,
.hero .hero-buttons .btn:focus {
  background-color: var(--primary); 
  color: #fff; 
}

/* Recetas Section */

.recetas #map {
  width: 100%;
  border-top: var(--dark) 7px solid;
  padding: 10px 0;
  margin-bottom: 40px;
}


.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.recetas .btn {
  width: 250px;
}


.recetas #search-input, #recetas-categorias {
  
  padding: 15px;
  border: 1px solid var(--dark);
  margin-bottom: 10px;
  margin: 20px 0px;
  width: 100%;
}

.recetas{
  padding: 10px 0;
  background-color: var(--light);
  
}

.recetas-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: start;

  gap: 20px;
}



.recetas .btn:hover,
.recetas .btn:focus {
  background-color: var(--primary);
}


#contenedor h5{
font-size: 1.2rem;
line-height: 1.5rem;
font-weight: bold;
padding-bottom: 10px;

}

.video{
  padding-top: 20px;
  width: 100%;
  height: 300px;
}


/* Testimoniales Section */

.testimoniales{
  padding: 40px 0;
}

.testimoniales .testimoniales-titulo{
  width: 800px;
  margin: 0 auto;
  margin-bottom: 40px ;
  color: #fff;
  
}



.testimoniales-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.testimoniales-card p:nth-child(2)  {
  margin-top: 30px;
  font-weight: bold;
}

/* Cards Detalles */

.grid-detalle{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.columna2-detalle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: right;
  justify-content: space-around;
  align-content: flex-end;
  
}


.card-text{
  font-weight: bold;
}

.card-pais{
  padding-bottom: 20px;
}

.card-icon{
  margin-bottom: 30px;
  border: var(--dark) 2px solid;
  border-radius: 50%;
  padding: 10px;
}

.favorito-activo .card-icon {
  color: var(--primary); /* Cambia el color del corazón a rojo cuando el botón está marcado como favorito */
}

.button-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s ease; 
  display: block;
}

.button-icon:hover .card-icon {
  color: var(--primary); 
}

.button-icon:active .card-icon {
  color: var(--primary) 
}

/* Footer */

.footer{
  padding: 40px 0;
}

.footer h3{
  margin-bottom: 10px;
}

.footer ul li{
  line-height: 2.5;
}

.footer a{
  color: var(--dark)
}

.footer i{
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer-grid{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer .newsletter-card{
  margin: 20px 30px 30px 0px;
}

.footer .container{
  background-color: var(--primary);
}

.footer input[type="email"]{
  width: 100%;
  padding: 10px;
  border: 1px solid var(--dark);
  margin-bottom: 10px;
  margin: 20px 0px;
}

/* Clases Utilitarias */

.container{
  
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Botones */

.btn{
  display: inline-block;
  padding: 13px 20px;
  background-color: var(--dark);
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

/* Text Classes */

.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 30px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}





/* Backgrounds */
.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-primary  {
  background-color: var(--primary);
}


/* Card Testimoniales */
.testimoniales-card {
background-color: var(--light);
color: var(--dark);
border-top: var(--primary) 10px solid;
padding: 20px;
}


.footer-grid .newsletter-card {
  background-color: var(--light);
  color: var(--dark);
  border-top: var(--dark) 10px solid;
  padding: 20px;
  }

  /* Hamburger Button */
  .hamburger-button{

    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index:1000; /* para que vaya adelante */

  }

  .hamburger-button .hamburger-line{
    width: 30px;
    height: 4px;
    background: #333;
    margin: 6px 0;

  }


  /*Mobile Menu*/

  .mobile-menu{

    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index:100;
    background: #fff;
    box-shadow: 0px 0px 10px RGB(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
  }

  .mobile-menu .active{
    right: 0 ;
  }

  .mobile-menu ul{
    margin-top: 100px;
    padding-right: 10px;
    
  }

  .mobile-menu ul li{
    margin: 10px 0;
  }
  .mobile-menu ul li a{
    font-size: 20px;
    transition: 0.3s;
  }



/* Pagina Ampliacion */


  /* Hero Ampliacion Section */

.hero{
  margin-top: 0px;
}

.hero-ampliacion{
  background: url(img/mujeres-nutricion-hero-amplia.jpg) no-repeat;
  background-size: cover;
  height: 130px;
  background-position: top center;
  
  
}

.hero-ampliacion .hero-content{
    width: 100%;
    padding-left: 50px;
    padding-top: 5px;
    
  }

.hero-ampliacion .hero-title{
  color:#fff;
  text-shadow: var(--dark) 0px 0px 10px;
  margin-bottom: 10px;
}

.hero-ampliacion .hero-text{
  width: 70%;
  color: #fff;
  font-size: 2rem;
  text-shadow: var(--dark) 0px 0px 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}


/*Receta Grid*/

#recetas-content-ampliacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  gap: 20px;
  margin: 60px 0;

}

.ampliacion-receta{

  display: flex;
  justify-content: space-between;
}


.grid-img-recetas{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.texto-recetas .preparacion{
  padding-top: 20px;
}

.item{

  color: #a3a2a2;
  text-align: center;
  font-size: 1rem;
  padding: 20px;
}

.columna-imagenes .item .pais{
 
  padding-top: 20px;
  border-color: var(--dark) solid 2px;
}

.item:nth-of-type(9){
  grid-column: 1 / 3;
}

/* Modal general */
.modal {
  display: none; /* oculto por defecto */
  position: fixed; 
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); /* fondo oscuro con transparencia */
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  position: relative;
}

/* Botón cerrar */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}





/* Media Queries */

/* Para pantallas hasta 960px */
@media (max-width: 960px){

  .text-xxl{
    font-size: 2.5rem;
    margin: 10px 0 10px;
  }

  .hero .hero-content, .hero .hero-text {
    width: 100%;
    text-align: center;
  }

  .recetas-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr)); /* 4 columnas con min 180px */
    gap: 20px;
    justify-content: center;
  }

  .testimoniales-grid{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px;
  }

  .footer .newsletter-card{
    margin-right: 0;
  }

  .footer .footer-grid> div{
    text-align: center;
  }

}

/* Para pantallas entre 630px y 959px */
@media (min-width: 630px) and (max-width: 959px) {
  .recetas-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr)); /* 2 columnas con min 250px */
    gap: 20px;
    justify-content: center;
    max-width: 520px;
    margin: 0 auto;
  }

  .hero .hero-content{
    margin: 0 auto;
  }

  .hero .container{
    background: url(img/mujeres-nutricion-hero-425x425.jpg) no-repeat center center;
    background-size: cover;
  }
}

/* Para pantallas hasta 629px */
@media (max-width: 629px) {

  /* navbar mobile*/
  .text-xxl{
    font-size: 2rem;
    line-height: 2rem;
  }

  .text-xl {
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 10px 0 10px;
  }

  .text-lg{
    font-size: 1.0rem;
  }

  .text-md{
    font-size: 0.8rem;
  }

  .testimoniales .testimoniales-titulo{
    max-width: 100%;
    text-align: center;
  }

  .navbar .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar .main-menu ul{
    display: flex;
  }
  
  .navbar .main-menu ul li a{
    color: #fff;
    padding: 10px 20px;
    margin-left: 0.9px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
  }

  /* second-menu mobile */
 

  .navbar .main-menu ul li{
    display: block;
    text-align: center;
    font-size: 1rem; !important;
    margin-top: 1rem;
    width: 100%;
  }

  /* Mostrar el menú del hamburguesa */
  .second-menu .container .menubar {
    display: none;
  }

  .second-menu .container .mobile-menu {
    display: block;
  }

  /* hero mobile */

  .second-menu {
    background-color: var(--dark);
    padding: 0;
    border-bottom: #fff 7px solid;
  }
  
  .second-menu .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .second-menu .container ul{
    display: flex;
    flex-direction: column;
  }
  
  .second-menu .container ul li a{
    color: #fff;
    padding: 15px 55px;
    margin-left: 0.9px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: 600;
    transition: 0.5s;
  }

  .hero .container{
    background: url(img/mujeres-nutricion-hero-425x425.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
  }

  .hero .hero-content, .hero .hero-text {
    width: 100%;
    text-align: center;
  }

  .hero .hero-buttons .btn{
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .hero .hero-content {
    width: 100%;
    padding-top: 70px;
    padding-left: 0px;
  }

  .hero-ampliacion{
    background: url(img/mujeres-nutricion-hero-amplia.jpg) no-repeat;
    background-size: cover;
    height: 130px;
    background-position: top center;
  }

  .ampliacion-receta .columna-imagenes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .grid-img-recetas{
    grid-template-columns: 1fr 1fr ;
  }

  /* recetas mobile */

  .testimoniales-grid,
  .footer .footer-grid{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px;
  }

  .recetas .recetas-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    
  }

  #recetas-content-ampliacion {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 20px;
    margin: 20px 0;
  }

  .footer .newsletter-card{
    margin-right: 0;
  }

  .footer .footer-grid> div{
    text-align: center;
  }

}
